li{
  list-style: none;
}
.nav-list{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;

}
.list{
  float:left;
  color: white;
}
.list .a{
  display:block;
  padding: 9px;
  background-color: white;
}
.gif{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:50%
}
.body{
  background-image:url('https://i.stack.imgur.com/p9mUO.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

}
.output{
  display: none;
}
#gifer{
  display: none;
  margin-left: auto;
  margin-right: auto;
  width:50%


}
.output{
color: white;
font-size:3.0em


}
.homepage{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLBGmUFDyP0op-3D96ad9JCAFcR54tyHDKl5IsjvTVHiiPMehs');
}
h1{
  font-family: 'Chonburi', cursive;
}
p{
  font-family: 'Signika', sans-serif;
}
h2{
    font-family: 'Chonburi', cursive;
}
.instruction{
  font-family: 'Signika', sans-serif;
  font-size-adjust: 1.9em;
}
.ipage{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4paYOFVEY8ZbKtJp27iX-JfeJIsOvYAbRwxnnTvL0LQyizlgr');
  background-repeat: no-repeat;
  background-size: cover;
}
